@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js"

@layer utilities {
  .slider-thumb-rect::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 14px;
    background: #00D1FF;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 209, 255, 0.4);
    border-radius: 1px;
    transition: transform 0.1s ease;
  }
  .slider-thumb-rect::-webkit-slider-thumb:hover {
    transform: scaleY(1.2);
  }
  .slider-thumb-rect::-moz-range-thumb {
    width: 6px;
    height: 14px;
    background: #00D1FF;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 209, 255, 0.4);
    border: none;
    border-radius: 1px;
    transition: transform 0.1s ease;
  }
  .slider-thumb-rect::-moz-range-thumb:hover {
    transform: scaleY(1.2);
  }
}